@*@model IEnumerable<Registro_Herramientas.Models.Empleado>*@
@model Registro_Herramientas.Models.Empleado

@{
	ViewBag.Title = "AgregarEmpleado";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Nuevo Empleado</h2>

<div class="row" style="margin-top:30px">
	<div class="col-sm-12">
		<div class="p">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Empleado:</h4>
				</div>
				<div class="panel-body">
					<form action="@Url.Action("AgregarEmpleado","Home")" method="post">
						<div class="form-group">														
							<label>Cedula</label>			
							<div class="text-danger">
								@Html.EditorFor(model => model.Cedula)
								@Html.ValidationMessageFor(model => model.Cedula)
							</div>
						</div>

						<div class="form-group">
							<label>Nombre</label>
							<div class="text-danger">
								@Html.EditorFor(model => model.Nombre)
								@Html.ValidationMessageFor(model => model.Nombre)
							</div>							
						</div>

						<div class="form-group">
							<label>Apellido</label>
							<div class="text-danger">
								@Html.EditorFor(model => model.Apellido)
								@Html.ValidationMessageFor(model => model.Apellido)
							</div>
						</div>

						<div class="form-group">							
							<label>Fecha de Ingreso</label>
							<div class="text-danger">
								<input type="date" name="Fecha_ingreso" />								
								@Html.ValidationMessageFor(model => model.Fecha_ingreso)
							</div>
						</div>
							
						<div class="form-group mt-3">
								<input type="checkbox" name="activo" value="true" checked> Empleado [Activo]<br>
						</div>
							
						<br />							
						<button type="submit" class="btn btn-primary">Registrar</button>							
						<a class="btn btn-warning" href="@Url.Action("Empleados","Home")">Volver</a>



</form>
				</div>
			</div>
		</div>

	</div>

</div>
