@*@model IEnumerable<Registro_Herramientas.Models.Empleado>*@
@model Registro_Herramientas.Models.Empleado

@{
	ViewBag.Title = "AgregarEmpleado";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Nuevo Empleado</h2>



@{
	if (@ViewBag.AlertError == "true")
	{
		<div class="alert alert-danger">
			@ViewBag.Msg
		</div>
		<script>
			mostrarAlerta1();
			alert('Los datos se grabaron corectamente');
		</script>
	}
	else
	{
		if (@ViewBag.Msg != null)
		{
			<div class="alert alert-success">
				@ViewBag.Msg
			</div>
		}
	}
}

<div class="row" style="margin-top:30px">
	<div class="col-sm-12">
		<div class="p">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Empleado:</h4>
				</div>
				<div class="panel-body">
					<form id="formulario" action="@Url.Action("AgregarEmpleado","Home")" method="post">
						<div class="form-group">
							<label>Cedula</label>
							<div class="text-danger">
								@Html.EditorFor(model => model.Cedula)
								@Html.ValidationMessageFor(model => model.Cedula)
							</div>
						</div>

						<div class="form-group">
							<label>Nombre</label>
							<div class="text-danger">
								@Html.EditorFor(model => model.Nombre)
								@Html.ValidationMessageFor(model => model.Nombre)
							</div>
						</div>

						<div class="form-group">
							<label>Apellido</label>
							<div class="text-danger">
								@Html.EditorFor(model => model.Apellido)
								@Html.ValidationMessageFor(model => model.Apellido)
							</div>
						</div>

						<div class="form-group">
							<label>Fecha de Ingreso</label>
							<div class="text-danger">
								<input type="date" name="Fecha_ingreso" />
								@Html.ValidationMessageFor(model => model.Fecha_ingreso)
							</div>
						</div>

						<div class="form-group mt-3">
							<input type="checkbox" name="activo" value="true" checked> Empleado [Activo]<br>
						</div>

						<br />
						<button type="submit" class="btn btn-primary"><i class="bi bi-floppy2-fill"></i> Registrar</button>
						<a class="btn btn-warning" href="@Url.Action("Empleados","Home")"><i class="bi bi-arrow-90deg-left"></i> Volver</a>
					</form>
				</div>
			</div>
		</div>

	</div>

</div>


@section Scripts{
	<script>
		function mostrarAlerta1() {
			Swal.fire('Messaje ');
		}

		function mostrarAlerta2() {
			Swal.fire('Excelente', "Guardado Correctamente", 'success');
		}

		function mostrarError() {
			Swal.fire('Error', 'Error de Autenticacion', 'error');
		}

		function enviarFormulario(e) {
			e.preventDefault();

			Swal.fire({
				title: 'Quiere Guardar los Datos?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Si'
			}).then((resultado) => {
				if (resultado.isConfirmed) {
					const formulario = document.getElementById('formulario');
					formulario.submit();
				}
			})


		}

	</script>
}