
@model Registro_Herramientas.Models.Registro


@{
	ViewBag.Title = "AgregarRegistro";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Agregar Registro</h2>

<div class="text-bg-danger">@ViewBag.Error</div>


	@using (Html.BeginForm("AgregarRegistro", "Home", FormMethod.Post))
	{
		@Html.AntiForgeryToken()

			<div class="mb-3 col-md-4">
				<label>Cédula</label>
				<input type="text" class="form-control" name="Cedula" value="@Html.DisplayTextFor(m => m.Cedula)" readonly="readonly" />
			</div>

			<div class="mb-3 col-md-4">
				<label>Id Herramienta</label>
				<input type="text" class="form-control" name="Id_herramienta" value="@Html.DisplayTextFor(m => m.Id_herramienta)" readonly="readonly" />
			</div>

			<div class="mb-3 col-md-4">
				<label>Nombre de Herramienta</label>
				<input type="text" class="form-control" name="Nombre_herramienta" value="@Html.DisplayTextFor(m => m.Nombre_herramienta)" readonly="readonly" />
			</div>

			<div class="mb-3 col-md-4">
				<label>Herremienta Devuelta</label>
				<input type="text" class="form-control" name="Devuelta" value="@Html.DisplayTextFor(m => m.Devuelta)" readonly="readonly" />
			</div>

			<div class="mb-3 col-md-4">
				<label>Fecha de Prestamo</label>
				<input type="text" class="form-control" name="Fecha_prestamo" value="@Html.DisplayTextFor(m => m.Fecha_prestamo)" readonly="readonly" />
			</div>

			<div class="mb-3 col-md-4">
				<label>Fecha Devuelve</label>
				<input type="text" class="form-control" name="Fecha_devuelve" value="@Html.DisplayTextFor(m => m.Fecha_devuelve)" readonly="readonly" />
			</div>

			<div class="mb-3">
				<label hidden>Fecha Devolución</label>
				<input hidden type="date" class="form-control" name="Fecha_devolucion" value="@Html.DisplayTextFor(m => m.Fecha_devolucion)" readonly="readonly" />
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Guardar</button>
			</div>
	}	




<div>
	@Html.ActionLink("Regresar al Menú", "Index")
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
