@model Registro_Herramientas.Models.Registro

@{
    ViewBag.Title = "AgregarRegistro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Registro</h2>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Registro</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.Id_registro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id_registro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_registro, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            <div class="text-danger">
                @ViewBag.Mensaje
            </div>
        </div>
       
        @* ** ojo verificar Prueba de boton de busqueda *@
        <div class="btn_buscar">BTN
            @*<button class="btn_buscar col-3">Buscar</button>*@
            @*<input type="submit" value="Buscar" class="btn btn-success btn_buscar" />*@
        </div>



    </div>

    

    <div class="form-group mt-3">
        <div class="col-md-10">
            <div class="">
                @*@Html.EditorFor(model => model.Devuelta)*@
                @Html.CheckBoxFor(m => m.Devuelta, true)
                @Html.LabelFor(model => model.Devuelta, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Devuelta, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group mt-2">
        @Html.LabelFor(model => model.Fecha_prestamo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_prestamo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fecha_prestamo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_devuelve, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_devuelve, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fecha_devuelve, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_devolucion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_devolucion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fecha_devolucion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Nuevo" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
