@using System.Web.UI.WebControls;

@model Registro_Herramientas.Models.Empleado

@{
	ViewBag.Title = "BorrarEmpleado";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar Empleado</h2>

<div class="text-bg-danger text-center rounded mx-3">
	@ViewBag.Error
</div>

<div class="text-bg-success text-center rounded mx-3">
	@ViewBag.Mensaje
</div>

@using (Html.BeginForm("BorrarEmpleado", "Home", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="mb-3 col-md-4">
		<label>Cédula</label>
		<input type="text" class="form-control" name="Cedula" value="@Html.DisplayTextFor(m => m.Cedula)" readonly />
		<div class="text-danger">
			@Html.ValidationMessageFor(model => model.Cedula)
		</div>
	</div>

	<div class="mb-3 col-md-4">
		<label>Nombre</label>
		<input type="text" class="form-control" name="Nombre" value="@Html.DisplayTextFor(m => m.Nombre)" readonly/>
		<div class="text-danger">
			@Html.ValidationMessageFor(model => model.Nombre)
		</div>
	</div>

	<div class="mb-3 col-md-4">
		<label>Apellido</label>
		<input type="text" class="form-control" name="Apellido" value="@Html.DisplayTextFor(m => m.Apellido)" readonly/>
		<div class="text-danger">
			@Html.ValidationMessageFor(model => model.Apellido)
		</div>
	</div>

	<div class="mb-3 col-md-4">
		<label>Fecha de Ingreso</label>
		<input type="text" class="form-control" name="Fecha_ingreso" value="@Html.DisplayTextFor(m => m.Fecha_ingreso)" readonly />
		<div class="text-danger">
			@Html.ValidationMessageFor(model => model.Fecha_ingreso)
		</div>
	</div>

	<div class="form-group mt-3">
		<input type="checkbox" name="activo" value="true" checked> Empleado [Activo]<br>
	</div>

	<br />
	<div class="mb-3">
		<button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</button>
	</div>
}

<div>
	@Html.ActionLink("Retornar a Lista", "Empleados")
</div>
