@model Registro_Herramientas.Models.Registro

@{
	ViewBag.Title = "BuscarRegistroCedula";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar Registros Por Cédula</h2>

@{var idCedula = 0;}    


<div class="text-bg-danger">@ViewBag.Error</div>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">

	<hr />
    <div>
        @{
            var numPrestamo = 0;
            if (Request.HttpMethod == "POST")
            {
                if (ViewBag.Registro != null)
                {
                    numPrestamo = 5 - Convert.ToInt32(ViewBag.Registro.Count);
                    if (numPrestamo == 0)
                    {
                        <h3 class="text-bg-danger text-bg-info">Pasa El límite de Préstamos de Herramientas...</h3>
                    }
                    else
                    {

                        if (!ViewBag.Devolucion)
                        {
                            <h3>Número de Préstamos Posibles: @numPrestamo</h3>
                            <a class="btn btn-success btn-sm" href="@Url.Action("PrestarHerramienta", "Home")"><i class="bi bi-tools"></i> Prestar Herramienta</a>
                        }
                        else
                        {
                            <h3>Total de Herramientas Prestadas: @ViewBag.Registro.Count</h3>
                        }


                    }
                }
            }
        }
    </div>

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@*<div class="form-group">
				@Html.LabelFor(model => model.Id_registro, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Id_registro, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Id_registro, "", new { @class = "text-danger" })
				</div>
			</div>*@
		<br />
		<div class="form-group">
			<div class="row g-3">
				@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label" })
			</div>
			<div class="row g-3">
				<div class="col-sm-3">
					@Html.DisplayForModel("Cédula")
					@Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Cédula" } })
				</div>
				<div class="col-sm">
					<button class="btn btn-secondary btn-sm"><i class="bi bi-search"></i> Buscar</button>
				</div>
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
		<div class="text-danger col-md-10">
			@ViewBag.Mensaje
		</div>

		<hr />

		@if (ViewBag.Registro != null)
		{
			<div class="row" style="margin-top:30px">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4>Registro de Préstamos</h4>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Id_movimiento</th>
											<th>Id Herramienta</th>
											<th>Herramienta</th>
											<th>Devuelta</th>
											<th>Fecha Préstamo</th>
											<th>Fecha Devuelve</th>
											<th>Fecha Devolución</th>
											<th style="width:150px"></th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in @ViewBag.Registro)
										{
											string str1 = item.Id_registro.ToString();
											idCedula = item.Cedula;
											string str2 = item.Id_herramienta.ToString();
											string str3 = item.Nombre_herramienta.ToString();

											string fDevolucion = "";

											<tr>

												@{
													string fPrestamo = item.Fecha_prestamo.ToString().Substring(0, 10).Trim();
													string fDevuelve = item.Fecha_devuelve.ToString().Substring(0, 10).Trim();
													if (String.IsNullOrEmpty(item.Fecha_devolucion.ToString()))
													{
														fDevolucion = null;
													}
													else
													{
														fDevolucion = item.Fecha_devolucion.ToString().Substring(0, 10).Trim();
													}
												}
												<td>@item.Id_registro</td>
												<td>@item.Id_herramienta</td>
												<td>@item.Nombre_herramienta</td>
												<td>@item.Devuelta</td>
												<td>@fPrestamo</td>
												<td>@fDevuelve</td>
												<td>@fDevolucion</td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" href="@Url.Action("DevolucionHerramienta", "Home", new {idherramienta = item.Id_herramienta} )"><i class="bi bi-check2-circle"></i> Devolver</a>                                                   
                                                    
                                                </td>
											</tr>
										}
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>


		}
	</div>
}

<div>
	@Html.ActionLink("Menú Principal", "Index")
</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
