@model List<Registro_Herramientas.Models.Herramienta>

@{
	ViewBag.Title = "PrestarHerramienta";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var mCedula = ViewBag.Cedula;
}

<h2>Prestar Herramienta</h2>

<div class="text-bg-danger text-center rounded mx-3">@ViewBag.Error</div>
<div class="text-bg-success text-center rounded mx-3">@ViewBag.Mensaje</div>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<hr />

	<div class="row" style="margin-top:30px">
		<div class="col-sm-12">

			<form action="PrestarHerramienta" method="post">
				<div class="mb-3">
					<div>Cedula</div>
					<input type="text" name="Cedula" value="@(ViewBag.Cedula)" disabled />
				</div>

				<div class="mb-3">
					<div>Buscar Herramienta</div>
					<input type="text" name="herramienta" />
					@*<a type="submit" class="btn btn-success btn-sm" >Buscar Herramienta</a>*@

					<button type="submit" class="btn btn-success btn-sm"><i class="bi bi-binoculars"></i> Buscar Herramienta</button>
					@*<span><input type="submit" class="btn btn-success btn-sm" value="Buscar Herramienta" /></span>*@
				</div>
			</form>
		</div>
	</div>

	<div>
		@Html.ActionLink("Menú de Registros", "BuscarRegistroCedula")
	</div>

	<hr />

	//Creando tabla nuevos datos de la clase
	if (Request.HttpMethod == "POST")
	{
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Cédula</th>
						<th>Id Herramienta</th>
						<th>Nombre Herramienta</th>
						<th>Descripcion Herramienta</th>
						<th>Prestada</th>
						<th style="width:150px"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (Registro_Herramientas.Models.Herramienta item in Model)
					{
						<tr>
							<td>@(ViewBag.Cedula)</td>
							<td>@item.Id_herramienta</td>
							<td>@item.Nombre_herramienta</td>
							<td>@item.Descripcion</td>
							<td>@item.Prestada</td>
							<td>
								<a class="btn btn-primary btn-sm" href="@Url.Action("AgregarRegistro","Home", new {idherramienta = item.Id_herramienta})"><i class="bi bi-plus-circle"></i> Prestar</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
}